.side-drawer {
    height: 100%;
    background: rgb(254,206,152);
    background: linear-gradient( rgba(254,206,152,1) 0%, rgba(211,134,245,1) 50%, rgba(139,217,249,1) 100%);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
}